

    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <title>ANNEXE</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <style>
            body{
                background: rgb(238,174,202);
                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
            }
            .modalll{
                margin-top : 15%;
                border-radius: 7px;
                box-shadow: 0px 0px 500px black;
            }
        </style>

        <body>
            <header class="masthead d-flex align-items-center">
                <div class="container px-4 px-lg-5 text-center modalll">
                    <br>
                    <h1 class="mb-1" style = "color:white">MICRO SERVICES</h1>
                    <!-- <h3 class="mb-5" style = "color:grey"><em>Code by Faycal</em></h3> -->
                    <h2 class="mb-1" style = "color:indianred">ANNEXE</h2>
                    <br>
                    <h1>Données dans le tableau :</h1>
                    <ul>
                        {% for row in datas %}
                            <li>{{ row }}</li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-secondary btn-xl" href="/">Retour à l'accueil</a>
                    <br><br>
                </div>
            </header>
        </body>
    </html>
    